:root {
  --font-color: #555;
  --highlight-color: #111;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--font-color);
  transition: all 0.3s ease;
  text-decoration: none;
  border-bottom: 1px solid #999;
}

a:hover,
a:active {
  color: var(--highlight-color);
}

b {
  font-weight: bold;
}

.main-wrapper {
  min-width: 800px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 800px) {
  .main-wrapper {
    margin: 30px auto;
    width: 800px;
    /* min-height: 1200px; */
    box-shadow: 0px 0px 18px #cdcdcd;
    background-color: #fff;
  }
}

#sidebar {
  position: fixed;
  bottom: 15%;
  right: -88px;
  z-index: 1000;
  transition: all 0.3s ease;
}

#sidebar:hover {
  right: 0;
}

#sidebar a {
  display: block;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  background-color: #425268;
  color: #fff;
}

#sidebar a:hover {
  cursor: pointer;
}
