:root {
  font-size: 10px;
  --font-color: #333;
  --highlight-color: #000;
  --lowlight-color: #666;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans SC', -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

h1 {
  color: var(--highlight-color);
  font-weight: 900;
  font-size: 2.72rem;
  letter-spacing: .16rem;
}

h2 {
  color: var(--highlight-color);
  font-weight: bold;
  font-size: 1.66rem;
  letter-spacing: .128rem;
}

h3 {
  color: var(--highlight-color);
  font-size: 1.5rem;
  letter-spacing: .096rem;
}

div,
p,
span {
  color: var(--font-color);
  font-size: 1.37rem;
  letter-spacing: .048rem;
}

a {
  color: var(--font-color);
  text-decoration: none;
  /* border-bottom: 1px solid #999; */
}

a:hover,
a:active {
  color: var(--highlight-color);
}

b {
  font-weight: bold;
}

ul {
  padding-inline-start: 2rem;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
}

ul li {
  margin-bottom: 0.3em;
  position: relative;
}

ul li::before {
  content: "▢";
  font-size: 1rem;
  height: 100%;
  top: 0;
  left: -2rem;
  position: absolute;
}

.lowlight {
  color: var(--lowlight-color);
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.bold {
  font-weight: bold;
}

#main-wrapper {
  width: 80rem;
  margin: 0 auto;
  padding: 5rem 0 3rem;
  background-color: #fff;
  user-select: none;
}

#sidebar {
  position: fixed;
  bottom: 15%;
  right: -8.6rem;
  z-index: 1000;
  transition: all 0.3s ease;
}

@media print {
  #sidebar {
    display: none !important;
  }
}

#sidebar:hover {
  right: 0;
}

#sidebar a {
  display: block;
  margin: .5rem 0;
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
  background-color: #425268;
  color: #fff;
  user-select: none;
}

#sidebar a:hover {
  cursor: pointer;
}

#sidebar a .icon-wrapper {
  color: #fff;
  margin-right: .5rem;
}

@media screen and (min-width: 1200px) {
  :root {
    font-size: 12px;
  }

  body {
    background-color: #eee;
  }

  #main-wrapper {
    margin: 2rem auto;
    box-shadow: 0 0 1.8rem #cdcdcd;
  }
}
