.profile {
    padding-left: 10px;
    margin-bottom: 20px;
    display: flex;
}

.profile-left {
    display: inline-block;
    /* width: 80%; */
    flex: 1;
}

.profile-right {
    display: inline-block;
    vertical-align: top;
    width: 18%;
    margin-left: 50px;
}

.profile-name {
    color: var(--main-color);
    font-size: 2.4rem;
    font-weight: bold;
    margin: 30px 0 20px;
}

.profile-avatar {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.profile-list hr {
    height: 1px;
    border: none;
    border-top: 1px solid #cdcdcd;
}

.profile-items {
    display: flex;
}

.profile-item {
    display: inline-flex;
    align-items: center;
    flex: 1;
}

.profile-item-icon {
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
}

.profile-item-icon.i-birthday {
    background-image: url('/images/person.png');
    background-size: 50%;
}

.profile-item-icon.i-address {
    background-image: url('/images/people.png');
    background-size: 52%;
}

.profile-item-icon.i-phone {
    background-image: url('/images/phone.png');
    background-size: 42%;
}

.profile-item-icon.i-email {
    background-image: url('/images/email.png');
    background-size: 55%;
}

.profile-item-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
}